= form_for @contract do |f|
  - if @contract.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contract.errors.count, "error")} prohibited this contract from being saved:"
      %ul
        - @contract.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :from_sim_id
    = select_tag("contract[from_sim_id]",  options_for_select(@from_sim_options, selected: ""))
  .field
    = label_tag "Make SIM card disabled"
    = check_box_tag "disable_sim"
  .field
    = f.label :to_sim_id
    = select_tag("contract[to_sim_id]",  options_for_select(@to_sim_options, selected: ""))
  .field
    = f.label :processed_at
    = f.date_select :processed_at
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
