= form_for @contract do |f|
  - if @contract.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contract.errors.count, "error")} prohibited this contract from being saved:"
      %ul
        - @contract.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :from_sim_id
    = f.number_field :from_sim_id
  .field
    = f.label :to_sim_id
    = f.number_field :to_sim_id
  .field
    = f.label :processed_at
    = f.date_select :processed_at
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :type
    = f.text_field :type
  .actions
    = f.submit 'Save'
