= form_for @device do |f|
  - if @device.errors.any?
    #error_explanation
      %h2= "#{pluralize(@device.errors.count, "error")} prohibited this device from being saved:"
      %ul
        - @device.errors.full_messages.each do |msg|
          %li= msg

  .field
    = label_tag "SIM"
    = select_tag("device[sim_id]",  options_for_select(@sims_options))
    = link_to("Detach", detach_sim_device_path, method: :put)
  .field
    = f.label :model_number
    = f.text_field :model_number
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :imei
    = f.text_field :imei
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
