%h1 Listing devices

%table
  %thead
    %tr
      %th Sim
      %th User
      %th Model number
      %th Name
      %th Imei
      %th Description
      %th
      %th
      %th

  %tbody
    - @devices.each do |device|
      %tr
        %td= device.sim_id
        %td= device.user_id
        %td= device.model_number
        %td= device.name
        %td= device.imei
        %td= device.description
        %td= link_to 'Show', device
        %td= link_to 'Edit', edit_device_path(device)
        %td= link_to 'Destroy', device, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Device', new_device_path
