= form_for @sim do |f|
  - if @sim.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sim.errors.count, "error")} prohibited this sim from being saved:"
      %ul
        - @sim.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :carrior
    = f.text_field :carrior
  .field
    = f.label :number
    = f.text_field :number
  .field
    = f.label :available
    = f.check_box :available
  .field
    = f.label :registered_at
    = f.date_select :registered_at
  .field
    = f.label :imsi
    = f.text_field :imsi
  .actions
    = f.submit 'Save'
